PUBLIC_DIRECTUS_URL=
DIRECTUS_URL=
DIRECTUS_ADMIN_TOKEN=
PLATFORM_API_BASE_URL=
RESEND_API_KEY=
CONTACT_TO_EMAIL=hello@talleywealth.com
CONTACT_FROM_EMAIL="Talley Wealth Website <website@talleywealth.com>"
CONTACT_BCC_EMAIL=
MAILCHIMP_FORM_ACTION=https://talleywealth.us12.list-manage.com/subscribe/post
MAILCHIMP_FORM_U=0737405481f8ec7296256fe17
MAILCHIMP_AUDIENCE_ID=013235d6d3
MAILCHIMP_GUIDE_TAG_ID=9169304
MAILCHIMP_FOOTER_TAG_ID=9169355
